body {
    margin: 0;
    background-color: hsl(0, 0%, 89%);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#calculator {
    border-radius: 10px;
    padding: 10px;
    background-color: hsl(0, 0%, 60%);
}

#keys {
    margin-left: 9px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 30%);
    border: none;
    color: white;
    font-size: 2em;
}

#display {
    width: 95%;
    margin-bottom: 10px;
    text-align: right;
    border-radius: 8px;
    font-size: 2em;
    padding: 10px;
    background-color: hsl(0, 0%, 45%);
    border: none;
    color: white;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}

.operatorButton{
    background-color: hsl(25, 89%, 48%);
}
.operatorButton:hover{
    background-color: hsl(25, 89%, 58%);
}
.operatorButton:active{
    background-color: hsl(25, 89%, 68%);
}
.clear{
    background-color: hsl(0, 100%, 50%);
}
.clear:hover{
    background-color: hsl(0, 100%, 60%);
}
.clear:active{
    background-color: hsl(0, 100%, 70%);
}